/*react-dictionary-app*/

:root {
  --headings-font-family: "Xanh Mono", monospace;
  --paragraph-font-family: "Xanh Mono", monospace;
  --border-color: #94b1aa;
  --primary-bg-color: #94b1aa;
  --secondary-bg-color: #f4f6f6;
  --primary-text-color: #000;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dictionary section {
  padding: 30px;
  margin: 20px auto;
  background-color: var(--secondary-bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  max-width: 500px;
}

.input-form {
  padding-left: 32px;
}

.search-button {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.search-button:hover {
  background-color: rgb(44, 138, 138);
}
