/*react-dictionary-app*/

:root {
  --headings-font-family: "Xanh Mono", monospace;
  --paragraph-font-family: "Xanh Mono", monospace;
  --border-color: #94b1aa;
  --primary-bg-color: #94b1aa;
  --secondary-bg-color: #f4f6f6;
  --primary-text-color: #000;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.word-class {
  font-family: var(--paragraph-font-family);
  font-weight: bold;
  font-size: 1.3em;
}

.synonyms {
  font-family: var(--paragraph-font-family);
  font-weight: 600;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.definition {
  font-family: var(--paragraph-font-family);
  font-weight: 600;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.example {
  font-family: var(--paragraph-font-family);
  font-style: italic;
  font-weight: 600;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.word-class,
.synonyms :first-letter {
  text-transform: capitalize;
}
