/*react-dictionary-app*/

:root {
  --headings-font-family: "Xanh Mono", monospace;
  --paragraph-font-family: "Xanh Mono", monospace;
  --border-color: #94b1aa;
  --primary-bg-color: #94b1aa;
  --secondary-bg-color: #f4f6f6;
  --primary-text-color: #000;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.phonetic-text {
  position: relative;
  top: -20px;
  margin-left: 25px;
}

audio::-webkit-media-controls-panel {
  background: linear-gradient(
    to right,
    #94b1aa,
    #a3ccc2,
    #bce4da,
    #9ac2b8,
    #5c7e76
  );
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 900px) {
  audio {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
  }

  audio::-webkit-media-controls-panel {
    background: linear-gradient(
      to right,
      #94b1aa,
      #a3ccc2,
      #bce4da,
      #9ac2b8,
      #5c7e76
    );
  }

  .phonetic-text {
    position: relative;
    top: -4px;
    margin-left: 25px;
  }
}
